<div class="row">
  <!-- <div class="" style="display: flex; justify-content: space-around"> -->
  <div *ngFor="let product of products" class="card" style="width: 18rem">
    <img src="./assets/img/placeholder.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        {{ product.description }}
      </p>
      <a class="btn btn-primary" [routerLink]="[product._id]">Go somewhere</a>
    </div>
  </div>
</div>
